.App {
  background-color: #024059;
  text-align: center;
  color: white; /* Set the text color to white */
  font-weight: bold; /* Make the text bold */
  text-shadow: 
    -1px -1px 0 black, /* Top-left shadow */
    1px -1px 0 black, /* Top-right shadow */
    -1px 1px 0 black, /* Bottom-left shadow */
    1px 1px 0 black; /* Bottom-right shadow */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ////////// HEADER CSS ///////////// */
.header {
  background-color: #F2CC0F;
  color: rgb(255, 255, 255); /* Updated text color to black */
  padding: 20px;
  display: flex;
  justify-content: center; /* Center align navigation buttons */
  align-items: center;
  text-shadow: 
  -.5px -.5px 0 black,
  .5px -.5px 0 black,
  -.5px .5px 0 black,
  .5px .5px 0 black;
  background-size: contain;
  background-position: center center;
  background-repeat: repeat;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link.active {
  font-weight: bold;
  color: red; /* Customize the active link color */
}


/* /////////// FOOTER CSS //////////////*/
.footer {
  background-size: contain;
  background-position: center center;
  background-repeat: repeat;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-text {
  margin-top: 0;
}

.footer-icon {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}



/* /////////// ABOUT PAGE CSS /////////////// */
.about-page {
  background-color: #024059;
  text-shadow: 
  -1.5px -1.5px 0 black, /* Top-left shadow */
  1.5px -1.5px 0 black, /* Top-right shadow */
  -1.5px 1.5px 0 black, /* Bottom-left shadow */
  1.5px 1.5px 0 black; /* Bottom-right shadow */
}

.profile-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  border: 0px;
}

.about-text {
  padding-bottom: 0;
  margin-bottom: 0;
}
.aboutLast {
  padding-bottom: 16px;
  margin-bottom: 0;
}

/* used for wide image after profile pic but before hobbies */
.wide-image {
  width: 100vw; /* 100% of viewport width */
  height: 50vh; 
  overflow: hidden; /* Hide any overflow content */
}
/* used for wide image after profile pic but before hobbies */
.wide-image img {
  width: 100%; /* Make the image take up 100% of the div's width */
  height: 100%;
  max-height: 481.5px; 
  min-width: 600px;
  background-size: cover;
  background-position: center center;
}

.description-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 386.81px;
  margin: 0;
  padding: 0;
}

/* remember the below to get rid of bullet points in lists */
.description-section li {
  list-style-type: none;
  padding-left: 0; /* Remove default left padding when bullets are gone*/
  margin-bottom: 10px;
}

.desc-header {
  margin: 0;
  padding: 0;
}




/*  //////////////// PORTFOLIO SECTION //////////////// */
.project-page {
  color: white;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.project-page a {
  color: rgb(255, 255, 255);
}

.project-page img {
  max-height: 152.75px;
  min-height: 152.75px;
  max-width: 100%;
  aspect-ratio: 2;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #980bbf;
  box-shadow: 5px 5px 5px #F2CC0F, -5px 5px 5px #2bf0fb;
}



/*  //////////////// RESUME SECTION //////////////// */

.resume-page {
  height: 75vh;    /*come back and fix this, it doesn't adjust properly when
  adjusting window size*/
  color: rgb(255, 255, 255);
  text-decoration: none;

}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list li {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.resume-text {
  padding-left: 0;
  margin-bottom: 10px;
  color: rgb(242, 255, 64);
  text-decoration: none;
  display: flex;
  justify-content: center;
}